<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show-Product-search</title>
</head>
<body>
    <br /><br />
    <a href="/">Home</a><br /><br />
    <form method="GET" action="/show-Product-search">
    <% 
        let kw = (locals.q) ? q ; ""
    %>
    <input type="text" name="q" placeholder="Search Name" value="<%= kw %>"/>
    <button>OK</button>
    </form>
    <h4>show-Product-search</h4>
    <% if (locals.data) { %>
    <table border="1">  
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Date added</th>
        <th>Description</th>
    </tr>
    <%
    for (d of data) {
        let dt = new Date(Date.parse(d.date_added))
        let df = `${dt.getDate()}-${dt.getMonth()+1}-${dt.getFullYear()}`
    %>
    <tr>
        <td><%= d.name %></td>
        <td><%= d.price %></td>
        <td><%= d.stock %></td>
        <td><%= df %></td>
        <td><%= d.description %></td>
    </tr>
    <% } %>
    </table>
    <% } %>
</body>
</html>