<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APP 19-1 multiple</title>
    <script>
      function submitForm() {
        let file = document.querySelector('[type="file"]');
        let files = file.files;
        if (files.length > 5) {
          alert("เลือกได้ไม่เกิน 5 ไฟล์");
          return;
        }
        let maxFileSize = 500 * 1024;
        for (f of files) {
          if (f.size > maxFileSize) {
            alert("ขนาดของไฟล์ต้องไม่เกิน" + maxFileSize);
            return;
          }
        }
        document.querySelector("form").submit();
      }
    </script>
  </head>
  <body>
    <form method="POST" action="/upload-multiple" enctype="multipart/form-data">
      <label>เลือกได้มากกว่า 1 ไฟล์</label> <br />
      <br />
      <input type="file" name="upfiles" multiple /><br />
      <br />
      <button type="button" onclick="submitForm()">OK</button>
      <!-- ต้องใส่ type="button" ไม่งั้นข้อมูลในฟอร์มจะถูกส่งออกไปทันที -->
    </form>
    <br />
    <% if (locals.fileInfo) { %>
    <div id="result">
      <% fileInfo.forEach((f,i) => { %>
      <hr />
      <% if (f.type.match("image/*")) { %>
      <img src="/upload/<%= filePaths[i] %>" style="max-height: 60px" /><br />
      <% } else { %>
      <a href="/upload/<%= fileNames[i] %>"><%= fileNames[i] %></a><br />
      <% } %> name: <%= f.name %> <br />
      type: <%= f.type %> <br />
      size: <%= f.size %> bytes <br />
      <% }) %>
    </div>
    <% } %>
  </body>
</html>
